
/*   KEYFRAME  */

@keyframes barre-progress {           /*  SLIDER  */
    0% { width: 0; }
   100% { width: 100%; }
}

@keyframes anim-portfolio {           /*  PROJETS  */
    0% { opacity: 0; background-color: rgba(0, 0, 0, 0) }
    50% { opacity: 1 }
    100% { opacity: 1; background-color: rgba(0, 0, 0, 0.5) }
}

@keyframes anim-menu-portfolio {      /*  PROJETS  */
    0% { opacity:0 }
    100% { opacity:1 }
}

/*   END KEYFRAME  */


/*  GENERAL  */

* {
    box-sizing: border-box;
    font-family: 'roboto', arial,sans-serif;
    margin: 0;
    padding: 0;
}

h2 { font-size: 3rem; }

.hr-titre {
    display: flex;
    justify-content: center;
    width: 300px;
    margin: 1.3rem auto;
    align-items: center;
}

.hr-titre hr {
    width: 75px;
    height: 0;
    border: 1px solid #ececec;
    margin: 0 10px;
}

.hr-titre .fa-circle { color: #3fa8ce; }

/*  END GENERAL  */


/*  HEADER  */

header {
    z-index: 999;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFF;
    box-shadow: 0px 1px 3px #333;
}

header #logo { padding: 1rem 0; }

header #logo img {
    display: block;
    margin: 0 auto; 
    width: 60%;
}

header nav { width: 100%; }

header nav ul {
    display: flex;
    justify-content: center;
    list-style: none; 
}

header nav ul li a {
    display: inline-block;
    padding: .8rem 1.5rem;
    color: #666;
    text-decoration: none;
}

/*  END HEADER  */

/*  SLIDER  */

#slider { 
    position: relative;
    margin-top: 7.2rem;
}

#slider #i-s1, 
#slider #i-s2 { display: none; }

#slider #i-s1:checked ~ #slide-1,
#slider #i-s2:checked ~ #slide-2 { display: block; }

#slider .image-slider { display: none; }

#slider .image-slider img { width: 100%; }

#slider .image-slider label {
    z-index: 10;
    position: absolute;
    top: 0;
    margin-top: 12.5%;
    color: #FFF;
    background-color: rgba(51, 51, 51, 0.8);
}

#slider .image-slider label.prec {
    left: 0;
    padding: 1rem 1rem 1rem .3rem;
    border-radius: 0 2rem 2rem 0;
}

#slider .image-slider label.suiv {
    right: 0;
    padding: 1rem .3rem 1rem 1rem;
    border-radius: 2rem 0 0 2rem;
}

#slider .slide-descr { 
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: -.28rem;
    padding: 2.5rem 0;
    text-align: center;
    color: #000;
    background-color: #f1f1f1;
}

#slider .slide-descr .barre-slider {
    position: absolute;
    top: -.3rem;
    right: 0;
    left: 0;
    width: 2px;
    height: 4px;
    background: #3fa8ce;
    animation: barre-progress 10s cubic-bezier(0,0,.50,1) infinite;
}

#slider .slide-descr p:nth-child(1) {
    font-size: 2rem;
    font-weight: bold;
}

#slider .slide-descr p:nth-child(2) {
    padding: 1rem 0;
    font-size: .9rem; 
}

#slider .slide-descr p .bleu { color: #3fa8ce; }

#slider .slide-descr .btn-info {
    display: block;
    padding: .7rem 1rem;
    align-self: center;
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: none;
    color: #FFF;
    background-color: #3fa8ce;
    border-bottom: 2px solid #2a7591;
    border-radius: 3px;
}

/*  END SLIDER  */


/*  SERVICES  */

#services {
    text-align: center;
    padding: 9rem 0;
}

#services #descr-services p { padding: .7rem 1rem; }


#services #descr-services p { color: #5a5a5a; }

#services #pres-services .image img {
    margin: 1.3rem 0;
    width: 100%;
    max-width: 600px;
}

#services #pres-services #graph div > .fas {
    position: relative;
    margin: .7rem 0;
    padding: 1.3rem;
    font-size: 2.2rem;
    color: #3fa8ce;
    border: 1px solid #b9b9b9;
    border-radius: 50px;
}

#services #pres-services #graph div .fas i {
    position: absolute;
    top: 1.75rem;
    right: -.75rem;
    font-size: 1rem;
    border: 5px solid #FFF;
}

#services #pres-services #graph #graph-3 > .fas { padding: 1.3rem 1.1rem; }

#services #pres-services #graph h3 { margin: .8rem 0; }

#services #pres-services #graph p {
    margin-bottom: 2rem;
    padding: 0 1rem;
    color: #5a5a5a;
}

/*  END SERVICES  */


/*  PROJETS  */

#projets {
    padding: 9rem 0 0;
    text-align: center;
    background-color: #e6e6e6;
}

#projets #descr-projets .hr-titre hr { border-color: #d5d5d5; }

#projets #descr-projets p {
    padding: .7rem 1rem;
    color: #414141;
}

#projets #btn-menu-1,
#projets #btn-menu-2,
#projets #btn-menu-3,
#projets #btn-menu-4 { display: none; }

#projets #btn-menu-1:checked ~ #portfolio-projets .portfolio { display: block; }

#projets #btn-menu-2:checked ~ #portfolio-projets #portfolio-1,
#projets #btn-menu-2:checked ~ #portfolio-projets #portfolio-6,
#projets #btn-menu-2:checked ~ #portfolio-projets #portfolio-7 { display: block; }

#projets #btn-menu-3:checked ~ #portfolio-projets #portfolio-2,
#projets #btn-menu-3:checked ~ #portfolio-projets #portfolio-3,
#projets #btn-menu-3:checked ~ #portfolio-projets #portfolio-5 { display: block; }

#projets #btn-menu-4:checked ~ #portfolio-projets #portfolio-4,
#projets #btn-menu-4:checked ~ #portfolio-projets #portfolio-8 { display: block; }

#projets #btn-menu-1:checked ~ #menu-projets label:nth-child(1),
#projets #btn-menu-2:checked ~ #menu-projets label:nth-child(2),
#projets #btn-menu-3:checked ~ #menu-projets label:nth-child(3),
#projets #btn-menu-4:checked ~ #menu-projets label:nth-child(4) { background-color: #3fa8ce; }

#projets #btn-menu-1:checked ~ #menu-projets label:nth-child(1) span,
#projets #btn-menu-2:checked ~ #menu-projets label:nth-child(2) span,
#projets #btn-menu-3:checked ~ #menu-projets label:nth-child(3) span,
#projets #btn-menu-4:checked ~ #menu-projets label:nth-child(4) span { color: #FFF; }

#projets #menu-projets {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0 0;
}

#projets #menu-projets label {
    cursor: pointer;
    width: 100%;
    background-color: #c2c2c2;
}


#projets #menu-projets label span {
    cursor: pointer;
    display: inline-block;
    padding: 1rem 0;
    color: #414141;
}

#projets #menu-projets label i { display: none; }

#projets #portfolio-projets .portfolio { display: none; }

#projets #portfolio-projets .portfolio {
    cursor: pointer;
    position: relative;
    margin-bottom: -.3rem;
}

#projets #portfolio-projets .portfolio img { width: 100%; }

#projets #portfolio-projets .portfolio .portfolio-descr {
    position: absolute;
    display: block;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 1rem;
    text-align: left;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.6);
}

#projets #portfolio-projets .portfolio .portfolio-descr:last-child { margin-bottom: .3rem; }

#projets #portfolio-projets .portfolio .portfolio-descr div { position: relative; }

#projets #portfolio-projets .portfolio .portfolio-descr div i {
    position: absolute;
    top: -2rem;
    right: 2rem;
    padding: .7rem;
    background-color: #3491b2;
    border: 1px solid #FFF;
    border-radius: 50%;
}

/*  END PROJETS  */


/*  CONTACT  */

#contact { padding: 9rem 0 0; }

#contact #formulaire-contact {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#contact #formulaire-contact form { background-color: #fff; }

#contact #formulaire-contact form ::placeholder { font-size: 1rem; }


#contact #formulaire-contact form address {
    font-style: normal;
    padding: 1rem 0;
    color: #4d4d4d;
}

#contact #formulaire-contact form address u { text-decoration: underline dotted; }

#contact #formulaire-contact form input {
    display: block;
    width: 90%;
    margin: 0 auto 1rem;
    font-size: 1rem;
    border: 1px solid #a5a5a5;
    border-radius: 3px;
    padding: .7rem 1rem;
}

#contact #formulaire-contact form textarea {
    display: block;
    max-width: 90%;
    min-height: 100px;
    margin: 0 auto 1rem;
    font-size: 1rem;
    border: 1px solid #a5a5a5;
    border-radius: 3px;
    padding: .7rem 1rem;
}

#contact #formulaire-contact form input#btn-contact {
    cursor: pointer;
    margin: 1rem auto 2rem;
    padding: .7rem 0;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: #3fa8ce;
    color: #FFF;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid #2a7591;
    border-radius: 3px;
}

#contact #formulaire-contact #map { background-color: #2a7591; }

#contact #formulaire-contact #map iframe {
    width: 100%;
    height: 100%;
    min-height: 400px;
    opacity: .75;
}

/*  END CONTACT  */


@media all and (min-width: 768px) {
    
    /*  HEADER  */
    
    header {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 3rem;
        box-shadow: 0px 1px 3px #333;
    }
    
    header #logo img { width: 100%; }
    
    header nav { width: auto; }
    
    header nav ul li a { padding: 2rem 1rem; }
    
    /*  END HEADER  */
    

    /*  SLIDER  */
    
    #slider { margin-top: 5.5rem; }

    #slider .image-slider .suiv,
    #slider .image-slider .prec { margin-top: 15%; }

    #slider .slide-descr { 
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        padding: 0 3rem;
        text-align: left;
        color: #FFF;
        background: none;
    }

    #slider .slide-descr p { max-width: 500px; }

    #slider .slide-descr .btn-info {
        align-self: flex-start;
        text-shadow: none;
     }

    #slider .slide-descr .barre-slider { 
        top: auto;
        bottom: 0;
    }

    /*  END SLIDER  */


    /*  SERVICES  */
    
    #services #descr-services p { 
        margin: auto;
        max-width: 600px; }

    #pres-services .image img { max-width: 510px; }
    
    #pres-services #graph { display: flex; }
    
    /*  END SERVICES  */


    /*  PROJETS  */

    #projets #btn-menu-1:checked ~ #menu-projets label:nth-child(1),
    #projets #btn-menu-2:checked ~ #menu-projets label:nth-child(2),
    #projets #btn-menu-3:checked ~ #menu-projets label:nth-child(3),
    #projets #btn-menu-4:checked ~ #menu-projets label:nth-child(4) {
        border-top: none;
        border-right: none;
        border-left: none;
        border-bottom: 3px solid #2a7591;
        padding-bottom: 0;
        background-color: #3fa8ce;
    }
    
    #projets #btn-menu-1:checked ~ #menu-projets label:nth-child(1) span,
    #projets #btn-menu-2:checked ~ #menu-projets label:nth-child(2) span,
    #projets #btn-menu-3:checked ~ #menu-projets label:nth-child(3) span,
    #projets #btn-menu-4:checked ~ #menu-projets label:nth-child(4) span { color: #FFF; }
    
    #projets #btn-menu-1:checked ~ #menu-projets label:nth-child(1) i,
    #projets #btn-menu-2:checked ~ #menu-projets label:nth-child(2) i,
    #projets #btn-menu-3:checked ~ #menu-projets label:nth-child(3) i,
    #projets #btn-menu-4:checked ~ #menu-projets label:nth-child(4) i {
        display: block;
        position: absolute;
        right: 0;
        left: 0;
        bottom: -16px;
        font-size: 25px;
        color: #2a7591;
    }

    #projets #menu-projets { 
        display: flex;
        justify-content: center;
        margin: 2rem 0;
    }
    
    #projets #menu-projets label {
        position: relative;
        width: 9rem;
        padding-bottom: .2rem;
    }
    
    #projets #menu-projets label:first-child { border-radius: 3px 0 0 3px; }
    
    #projets #menu-projets label:last-child { border-radius: 0 3px 3px 0; }
    
    
    #projets #menu-projets label span {
        display: inline-block;
        padding: 1rem 0;
        color: #414141;
    }
    
    #projets #portfolio-projets {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 1400px;
        padding-bottom: 2rem;
    }

    #projets #portfolio-projets .portfolio {
        width: 300px;
        margin: 1rem;
    }

    #projets #portfolio-projets .portfolio .portfolio-descr:last-child { margin-bottom: .3rem; }

    /*  END PROJETS  */
    
    /*  CONTACT  */
    
    #contact #formulaire-contact form input { max-width: 500px }
    
    #contact #formulaire-contact form textarea { width: 500px }

    /*  END CONTACT  */
}

@media all and (min-width: 1281px) {

    /*  HEADER  */

    header nav ul li a { border-bottom: 3px solid #fff; }

    header nav ul li a:hover { border-bottom: 3px solid #3491b2; }

    /*  END HEADER  */

    /*  SLIDER  */

    #slider .image-slider label:hover {
        cursor: pointer;
        color: #444;
        background-color: rgba(255, 255, 255, 0.7);
        transition: background-color .3s, color .2s;
    }

    #slider .slide-descr { padding: 0 100px; }

    #slider .slide-descr p { max-width: 700px; }

    #slider .slide-descr p:nth-child(1) { font-size: 3rem; }
    
    #slider .slide-descr p:nth-child(2) {
        padding: 1.2rem 0;
        font-size: 1.2rem; 
    }

    #slider .slide-descr .btn-info:hover { background-color: #2a7591; }

    /*  END SLIDER  */


    /*  SERVICES  */
        
    #pres-services  {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 3rem 0;
    }

    #pres-services .image {
        width: 53%;
    }
    
    #pres-services .image img{
        max-width: 510px;
    }

    #pres-services #graph {
        display: flex;
        flex-direction: column;
        text-align: left;
        width: 47%;
    }

    #pres-services #graph > div {
        display: flex;
        align-items: center;
    }
    
    #pres-services #graph { padding-top: 7rem; }

    #pres-services .image { margin-top: -7rem; }

    #pres-services #graph > div div { margin-left: 3rem; }

    #pres-services #graph > div div p { max-width: 550px; }

    /*  END SERVICES  */


    /*  PROJETS  */

    #projets #menu-projets label:hover {
        border-top: none;
        border-right: none;
        border-left: none;
        border-bottom: 3px solid #2a7591;
        padding-bottom: 0;
        background-color: #3fa8ce;
        transition: background-color .5s, 
                    border-bottom .1s;
    }

    #projets #menu-projets label:hover span { color: #FFF; }
    
    #projets #menu-projets label:hover i {
        display: block;
        position: absolute;
        right: 0;
        left: 0;
        bottom: -1rem;
        font-size: 2rem;
        color: #2a7591;
        animation: anim-menu-portfolio .2s;
    }

    #projets #portfolio-projets .portfolio:hover .portfolio-descr { 
        display: block;
        animation: anim-portfolio .75s;
    }

    #projets #portfolio-projets .portfolio .portfolio-descr { display: none; }

    /*  END PROJETS  */
   
    /*  CONTACT  */

    #contact { padding-top: 0; }

    #contact #formulaire-contact {
        position: relative;
        display: flex;               /*  I.E  */
    }
    
    #contact #formulaire-contact form {
        z-index: 2;
        align-self: center;          /*  I.E  */
        margin: 2rem 2rem 2rem auto;
        min-width: 400px;
        padding: 1.6rem;
        text-align: left;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 3px;
    }
        
    #contact #formulaire-contact form input#btn-contact:hover { background-color: #2a7591; }

    #contact #formulaire-contact #map {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        min-height: 800px;
    }

    #contact #formulaire-contact #map iframe { opacity: .7; }

    /*  END CONTACT  */
}